@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: "Amatic SC";
    }

header {
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: center;
    margin: 20px;
}
header image {
    height: 100%;
    max-width: 100%;
}

body {
    font-family: var(--primary-font);
    color: var(--text-dark);
}

.searchBar {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.searchBar input {
    width: 50%;
    height: 20px;
}

.recipe {
    height: 200px;
    display: flex;
    justify-content: top;
    padding: 30px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: .8em;
}

.recipe h1 {
    font-family: 'Amatic SC', cursive;
    color: var(--secondary-color);
    font-size: 1.8em;
}

.recipe img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding-right: 20px;
}

#tags-container {
    display: flex;
    flex-direction: row;
    color: var(--primary-color);
}

div [name="recipe-info"] {
    display: flex;
    flex-direction: column;
}

.social img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

@media screen and (max-width: 600px) {
    .recipe {
        flex-direction: column;
        height: 350px;
    }
    .recipe img {
        object-fit: cover;
        height: 200px;
        width: 200px;
    }
    .recipeDescription {
        display: none;
    }
}